
::-webkit-scrollbar {
    width: 12px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background: $color_Home_wrapper;

    @media screen and (max-width: 700px) {
        width: 6px;
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background: $background_Home_scrollbar;
    border-radius: 10px;

    @media screen and (max-width: 700px) {
        width: 5px;
    }
}

::-webkit-scrollbar-thumb {
    background: $background_Home_table-scrollbar;
    border-radius: 10px;

    @media screen and (max-width: 700px) {
        width: 5px;
    }
}
